<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shop</key>
	<array>
		<dict>
			<key>isMoneyPack</key>
			<false/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>2</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>header</key>
			<string>Superblast</string>
			<key>description</key>
			<string>To hard to play, kid? Use this one to destroy all the enemies.</string>
			<key>ico</key>
			<string>shopIcoBomb.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<false/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>2</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>header</key>
			<string>Time cheater</string>
			<key>description</key>
			<string>Give you those desirable 10 seconds to complete level.</string>
			<key>ico</key>
			<string>shopIcoTime.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<false/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>2</integer>
			<key>cost</key>
			<integer>999</integer>
			<key>header</key>
			<string>The S.H.I.E.L.D.</string>
			<key>description</key>
			<string>Have a rest for 5 seconds. This guy will be catching all incomng ghosts.</string>
			<key>ico</key>
			<string>shopIcoShield.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<false/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>2</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>header</key>
			<string>The Great Lottery</string>
			<key>description</key>
			<string>Who knows what surprises the destiny prepared for you...</string>
			<key>ico</key>
			<string>shopIcoRandom.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<false/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>2</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>header</key>
			<string>The resurrection</string>
			<key>description</key>
			<string>Use this injection to continue the level from your last point.</string>
			<key>ico</key>
			<string>shopIcoResurrection.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<true/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>1000</integer>
			<key>cost</key>
			<real>0.99</real>
			<key>header</key>
			<string>Money pack #1</string>
			<key>description</key>
			<string>You need zombie bucks to progress faster and easier.</string>
			<key>ico</key>
			<string>shopIcoMoney0.png</string>
		</dict>
		<dict>
			<key>isMoneyPack</key>
			<true/>
			<key>isConsumable</key>
			<true/>
			<key>packSize</key>
			<integer>3000</integer>
			<key>cost</key>
			<real>1.99</real>
			<key>header</key>
			<string>Money pack #2</string>
			<key>description</key>
			<string>Really big pack of zombie bucks. The best offer!</string>
			<key>ico</key>
			<string>shopIcoMoney1.png</string>
		</dict>
	</array>
</dict>
</plist>
