<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>bombBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>randomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{82,81}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{82,81}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>randomBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{82,81}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{82,81}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>shieldBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,99},{94,99}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>shieldBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{94,99}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>timeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,195},{80,87}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,87}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>timeBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{80,87}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,87}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>abilities.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22584ddd8ac10da13fafae14813e7fca$</string>
            <key>textureFileName</key>
            <string>abilities.png</string>
        </dict>
    </dict>
</plist>
