<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>evilDoctorAfterGhost0.png</string>
<string>evilDoctorAfterGhost1.png</string>
<string>evilDoctorAfterGhost2.png</string>
<string>evilDoctorAfterGhost3.png</string>
<string>evilDoctorAfterGhost4.png</string>
<string>evilDoctorAfterGhost5.png</string>
<string>evilDoctorAfterGhost6.png</string>
<string>evilDoctorAfterGhost7.png</string>
<string>evilDoctorBecomesGhost0.png</string>
<string>evilDoctorBecomesGhost1.png</string>
<string>evilDoctorBecomesGhost2.png</string>
<string>evilDoctorBecomesGhost3.png</string>
<string>evilDoctorBecomesGhost4.png</string>
<string>evilDoctorBecomesGhost5.png</string>
<string>evilDoctorBecomesGhost6.png</string>
<string>evilDoctorBecomesGhost7.png</string>
<string>evilDoctorBecomesGhost8.png</string>
<string>evilDoctorBecomesGhost9.png</string>
<string>evilDoctorBecomesGhost10.png</string>
<string>evilDoctorBecomesHuman0.png</string>
<string>evilDoctorBecomesHuman1.png</string>
<string>evilDoctorBecomesHuman2.png</string>
<string>evilDoctorBecomesHuman3.png</string>
<string>evilDoctorBecomesHuman4.png</string>
<string>evilDoctorBecomesHuman5.png</string>
<string>evilDoctorBecomesHuman6.png</string>
<string>evilDoctorBecomesHuman7.png</string>
<string>evilDoctorBecomesHuman8.png</string>
<string>evilDoctorBecomesHuman9.png</string>
<string>evilDoctorBecomesHuman10.png</string>
<string>evilDoctorEyes0.png</string>
<string>evilDoctorEyes1.png</string>
<string>evilDoctorEyes2.png</string>
<string>evilDoctorEyes3.png</string>
<string>evilDoctorGhost0.png</string>
<string>evilDoctorLaugh0.png</string>
<string>evilDoctorLaugh1.png</string>
<string>evilDoctorLaugh2.png</string>
<string>evilDoctorLaugh3.png</string>
<string>evilDoctorLaugh4.png</string>
<string>evilDoctorLaugh5.png</string>
<string>evilDoctorLaugh6.png</string>
<string>evilDoctorLaugh7.png</string>
<string>evilDoctorLaugh8.png</string>
<string>evilDoctorStand0.png</string>
<string>evilDoctorSwitch0.png</string>
<string>evilDoctorSwitch1.png</string>
<string>evilDoctorSwitch2.png</string>
<string>evilDoctorSwitch3.png</string>
<string>evilDoctorSwitch4.png</string>
<string>evilDoctorSwitch5.png</string>
<string>evilDoctorSwitch6.png</string>
</array>
</plist>