<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maps</key>
	<array>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>background</key>
			<string>none</string>
			<key>tracks</key>
			<array>
				<array>
					<array>
						<string>169,280</string>
						<string>157,250</string>
						<string>153,195</string>
						<string>133,165</string>
						<string>113,115</string>
						<string>107,55</string>
						<string>92,0</string>
					</array>
					<array>
						<string>227,280</string>
						<string>230,250</string>
						<string>222,195</string>
						<string>221,165</string>
						<string>235,115</string>
						<string>238,65</string>
						<string>238,0</string>
					</array>
					<array>
						<string>278,280</string>
						<string>294,250</string>
						<string>322,195</string>
						<string>327,165</string>
						<string>338,115</string>
						<string>368,65</string>
						<string>387,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>140,280</string>
						<string>130,245</string>
						<string>145,195</string>
						<string>115,140</string>
						<string>87,95</string>
						<string>85,0</string>
					</array>
					<array>
						<string>180,285</string>
						<string>186,245</string>
						<string>225,200</string>
						<string>320,135</string>
						<string>367,100</string>
						<string>390,65</string>
						<string>405,0</string>
					</array>
					<array>
						<string>250,285</string>
						<string>250,245</string>
						<string>225,200</string>
						<string>170,160</string>
						<string>185,120</string>
						<string>228,90</string>
						<string>194,0</string>
					</array>
					<array>
						<string>310,280</string>
						<string>320,200</string>
						<string>320,135</string>
						<string>310,95</string>
						<string>300,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
				<array>
					<array>
						<string>139,279</string>
						<string>139,258</string>
						<string>157,229</string>
						<string>191,195</string>
						<string>194,166</string>
						<string>170,131</string>
						<string>117,100</string>
						<string>93,71</string>
						<string>83,0</string>
					</array>
					<array>
						<string>179,282</string>
						<string>168,246</string>
						<string>157,230</string>
						<string>135,192</string>
						<string>143,159</string>
						<string>170,131</string>
						<string>231,82</string>
						<string>251,43</string>
						<string>255,0</string>
					</array>
					<array>
						<string>224,283</string>
						<string>222,222</string>
						<string>229,191</string>
						<string>251,140</string>
						<string>231,82</string>
						<string>195,56</string>
						<string>166,0</string>
					</array>
					<array>
						<string>259,283</string>
						<string>283,236</string>
						<string>281,196</string>
						<string>294,169</string>
						<string>353,120</string>
						<string>378,100</string>
						<string>394,62</string>
						<string>406,0</string>
					</array>
					<array>
						<string>307,281</string>
						<string>321,256</string>
						<string>349,225</string>
						<string>360,200</string>
						<string>364,162</string>
						<string>353,120</string>
						<string>339,76</string>
						<string>337,0</string>
					</array>
				</array>
			</array>
		</dict>
	</array>
</dict>
</plist>
