<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firEmergence0</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.06</real>
	</dict>
	<key>firDisappearence0</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.06</real>
	</dict>
	<key>firEmergence1</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.06</real>
	</dict>
	<key>firDisappearence1</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.06</real>
	</dict>
</dict>
</plist>
