<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firDisappearence00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{149,198}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{135,174}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{135,174}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{125,150}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{125,150}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence03.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,202},{109,120}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{109,120}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{95,96}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,102},{95,96}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence05.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{67,72}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{67,72}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{57,56}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,144},{57,56}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence07.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,324},{27,26}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,171},{27,26}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firDisappearence08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>firDisappearence10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,376},{102,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,373},{92,104}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{92,104}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,82},{92,90}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{92,90}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence13.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{80,78}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{80,78}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,76},{70,64}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,58},{70,64}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence15.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,324},{66,50}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,72},{66,50}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence16.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,324},{40,30}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,92},{40,30}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence17.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,353},{22,18}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,104},{22,18}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firDisappearence18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>firEmergence00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>firEmergence01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,324},{27,26}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,171},{27,26}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{57,56}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,144},{57,56}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{67,72}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{67,72}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{95,96}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,102},{95,96}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence05.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,202},{109,120}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{109,120}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{125,150}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{125,150}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{135,174}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{135,174}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{149,198}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>firEmergence10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>firEmergence11.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,353},{22,18}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,104},{22,18}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,324},{40,30}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,92},{40,30}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,324},{66,50}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,72},{66,50}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,76},{70,64}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,58},{70,64}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence15.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{80,78}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{80,78}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,82},{92,90}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{92,90}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence17.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,373},{92,104}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{92,104}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>firEmergence18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,376},{102,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fir.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00f9ec74b9f3901b0721f9e4b5569656$</string>
            <key>textureFileName</key>
            <string>fir.png</string>
        </dict>
    </dict>
</plist>
