<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firDisappearence00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,153},{11,14}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,85},{11,14}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,477},{29,28}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,72},{29,28}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,419},{35,38}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,62},{35,38}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,53},{49,48}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,51},{49,48}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{55,60}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,40},{55,60}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,233},{65,76}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{65,76}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,162},{69,86}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{69,86}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,83},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firDisappearence10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,249},{20,14}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{20,14}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,459},{34,26}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,74},{34,26}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{46,42}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{46,42}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{56,52}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence14.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,276},{66,66}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{76,74}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{76,86}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{76,86}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firDisappearence20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,231},{21,16}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,84},{21,16}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{31,30}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,70},{31,30}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,148},{39,38}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{39,38}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{49,48}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{49,48}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{53,62}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{53,62}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,300},{63,76}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{63,76}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence26.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,188},{63,86}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{63,86}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{63,94}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,94}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firDisappearence28.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,153},{11,14}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,85},{11,14}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,477},{29,28}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,72},{29,28}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,419},{35,38}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,62},{35,38}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,53},{49,48}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,51},{49,48}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{55,60}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,40},{55,60}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,233},{65,76}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{65,76}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,162},{69,86}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{69,86}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,83},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>firEmergence10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,249},{20,14}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{20,14}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,459},{34,26}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,74},{34,26}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{46,42}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{46,42}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{56,52}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence14.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,276},{66,66}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{76,74}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{76,86}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{76,86}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>firEmergence20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,231},{21,16}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,84},{21,16}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{31,30}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,70},{31,30}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,148},{39,38}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{39,38}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{49,48}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{49,48}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{53,62}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{53,62}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,300},{63,76}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{63,76}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence26.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,188},{63,86}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{63,86}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{63,94}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,94}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>firEmergence28.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fir.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e5e739c5cbffa0386a11c89e34905c$</string>
            <key>textureFileName</key>
            <string>fir.png</string>
        </dict>
    </dict>
</plist>
