<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>closeGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,31}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,84},{121,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>closeGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{105,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{105,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>closeGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{99,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{99,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>openGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{99,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{99,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>openGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{105,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{105,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>openGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,31}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,84},{121,31}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>openGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78c0512c071bebe8bb1f53ab25c30998$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
