<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>closeGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,28}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,102},{108,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>closeGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{104,28}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,101},{104,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>closeGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{98,28}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{98,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>closeGate24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{92,28}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,101},{92,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>openGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{92,28}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,101},{92,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>openGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{98,28}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{98,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>openGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{104,28}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,101},{104,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>openGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,28}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,102},{108,28}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>openGate24.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb5407b1c8830b70fd2d16bb6c8e327e$</string>
            <key>textureFileName</key>
            <string>gate-hd.png</string>
        </dict>
    </dict>
</plist>
