<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>closeGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,59}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,170},{245,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>closeGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{207,59}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,170},{207,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>closeGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{195,59}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,170},{195,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>openGate20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{195,59}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,170},{195,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>openGate21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{207,59}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,170},{207,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>openGate22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,59}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,170},{245,59}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
            <key>openGate23.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{489,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd38b65fa1302a69dc774fcf325267c0$</string>
            <key>textureFileName</key>
            <string>gate-hd.png</string>
        </dict>
    </dict>
</plist>
