<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieMoving00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{127,236}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{127,236}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{127,238}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{127,238}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{129,240}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{129,240}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving03.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{131,240}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{131,240}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{127,242}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{127,242}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{127,238}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{127,238}}</string>
                <key>sourceSize</key>
                <string>{171,266}</string>
            </dict>
            <key>zombieMoving10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,260},{121,240}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{121,240}}</string>
                <key>sourceSize</key>
                <string>{139,256}</string>
            </dict>
            <key>zombieMoving11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,268},{121,242}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{121,242}}</string>
                <key>sourceSize</key>
                <string>{139,256}</string>
            </dict>
            <key>zombieMoving12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,260},{121,244}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{121,244}}</string>
                <key>sourceSize</key>
                <string>{139,256}</string>
            </dict>
            <key>zombieMoving13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{121,246}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{121,246}}</string>
                <key>sourceSize</key>
                <string>{139,256}</string>
            </dict>
            <key>zombieMoving14.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,260},{121,240}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{121,240}}</string>
                <key>sourceSize</key>
                <string>{139,256}</string>
            </dict>
            <key>zombieMoving20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{106,274}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{106,274}}</string>
                <key>sourceSize</key>
                <string>{120,288}</string>
            </dict>
            <key>zombieMoving21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,2},{106,272}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{106,272}}</string>
                <key>sourceSize</key>
                <string>{120,288}</string>
            </dict>
            <key>zombieMoving22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,2},{106,272}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{106,272}}</string>
                <key>sourceSize</key>
                <string>{120,288}</string>
            </dict>
            <key>zombieMoving23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,2},{106,272}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{106,272}}</string>
                <key>sourceSize</key>
                <string>{120,288}</string>
            </dict>
            <key>zombieMoving24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,2},{108,274}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{108,274}}</string>
                <key>sourceSize</key>
                <string>{120,288}</string>
            </dict>
            <key>zombieMoving30.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{164,256}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{164,256}}</string>
                <key>sourceSize</key>
                <string>{180,276}</string>
            </dict>
            <key>zombieMoving31.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{166,256}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{166,256}}</string>
                <key>sourceSize</key>
                <string>{180,276}</string>
            </dict>
            <key>zombieMoving32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,264}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,264}}</string>
                <key>sourceSize</key>
                <string>{180,276}</string>
            </dict>
            <key>zombieMoving33.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,260}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{168,260}}</string>
                <key>sourceSize</key>
                <string>{180,276}</string>
            </dict>
            <key>zombieMoving34.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{164,256}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{164,256}}</string>
                <key>sourceSize</key>
                <string>{180,276}</string>
            </dict>
            <key>zombieMoving40.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,260},{98,289}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{98,289}}</string>
                <key>sourceSize</key>
                <string>{122,315}</string>
            </dict>
            <key>zombieMoving41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,244},{98,283}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{98,283}}</string>
                <key>sourceSize</key>
                <string>{122,315}</string>
            </dict>
            <key>zombieMoving42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,378},{98,287}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{98,287}}</string>
                <key>sourceSize</key>
                <string>{122,315}</string>
            </dict>
            <key>zombieMoving43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,278},{98,291}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{98,291}}</string>
                <key>sourceSize</key>
                <string>{122,315}</string>
            </dict>
            <key>zombieMoving44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,344},{98,287}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{98,287}}</string>
                <key>sourceSize</key>
                <string>{122,315}</string>
            </dict>
            <key>zombieMoving50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,278},{173,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,167}}</string>
                <key>sourceSize</key>
                <string>{173,167}</string>
            </dict>
            <key>zombieMoving60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,344},{151,151}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{151,151}}</string>
                <key>sourceSize</key>
                <string>{173,167}</string>
            </dict>
            <key>zombieMoving70.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,360},{165,145}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{165,145}}</string>
                <key>sourceSize</key>
                <string>{173,167}</string>
            </dict>
            <key>zombieMoving80.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,360},{154,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{154,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombies.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f39794c956de6dbb3c542d967bfdcd0$</string>
            <key>textureFileName</key>
            <string>zombies.png</string>
        </dict>
    </dict>
</plist>
