<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieMoving00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1470},{252,471}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{252,471}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1212},{252,473}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,45},{252,473}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,731},{258,479}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{258,479}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,731},{260,477}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,45},{260,477}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving04.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1068},{252,483}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{252,483}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,993},{254,475}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{254,475}}</string>
                <key>sourceSize</key>
                <string>{342,531}</string>
            </dict>
            <key>zombieMoving10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1550},{241,480}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{241,480}}</string>
                <key>sourceSize</key>
                <string>{277,512}</string>
            </dict>
            <key>zombieMoving11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,488},{241,486}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{241,486}}</string>
                <key>sourceSize</key>
                <string>{277,512}</string>
            </dict>
            <key>zombieMoving12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,245},{241,488}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{241,488}}</string>
                <key>sourceSize</key>
                <string>{277,512}</string>
            </dict>
            <key>zombieMoving13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{241,492}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{241,492}}</string>
                <key>sourceSize</key>
                <string>{277,512}</string>
            </dict>
            <key>zombieMoving14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1068},{241,480}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{241,480}}</string>
                <key>sourceSize</key>
                <string>{277,512}</string>
            </dict>
            <key>zombieMoving20.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{214,545}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{214,545}}</string>
                <key>sourceSize</key>
                <string>{240,575}</string>
            </dict>
            <key>zombieMoving21.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{214,543}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{214,543}}</string>
                <key>sourceSize</key>
                <string>{240,575}</string>
            </dict>
            <key>zombieMoving22.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1094},{214,543}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{214,543}}</string>
                <key>sourceSize</key>
                <string>{240,575}</string>
            </dict>
            <key>zombieMoving23.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,549},{214,543}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{214,543}}</string>
                <key>sourceSize</key>
                <string>{240,575}</string>
            </dict>
            <key>zombieMoving24.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1144},{216,547}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{216,547}}</string>
                <key>sourceSize</key>
                <string>{240,575}</string>
            </dict>
            <key>zombieMoving30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{326,531}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{326,531}}</string>
                <key>sourceSize</key>
                <string>{360,553}</string>
            </dict>
            <key>zombieMoving31.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1080},{332,531}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{332,531}}</string>
                <key>sourceSize</key>
                <string>{360,553}</string>
            </dict>
            <key>zombieMoving32.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,547},{338,531}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{338,531}}</string>
                <key>sourceSize</key>
                <string>{360,553}</string>
            </dict>
            <key>zombieMoving33.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{336,531}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{336,531}}</string>
                <key>sourceSize</key>
                <string>{360,553}</string>
            </dict>
            <key>zombieMoving34.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,535},{326,531}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{326,531}}</string>
                <key>sourceSize</key>
                <string>{360,553}</string>
            </dict>
            <key>zombieMoving40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{193,578}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{193,578}}</string>
                <key>sourceSize</key>
                <string>{243,630}</string>
            </dict>
            <key>zombieMoving41.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,576},{193,566}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{193,566}}</string>
                <key>sourceSize</key>
                <string>{243,630}</string>
            </dict>
            <key>zombieMoving42.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,572}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{193,572}}</string>
                <key>sourceSize</key>
                <string>{243,630}</string>
            </dict>
            <key>zombieMoving43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,580}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{193,580}}</string>
                <key>sourceSize</key>
                <string>{243,630}</string>
            </dict>
            <key>zombieMoving44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{193,572}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{193,572}}</string>
                <key>sourceSize</key>
                <string>{243,630}</string>
            </dict>
            <key>zombieMoving50.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1693},{346,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,333}}</string>
                <key>sourceSize</key>
                <string>{346,333}</string>
            </dict>
            <key>zombieMoving60.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1613},{304,301}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{304,301}}</string>
                <key>sourceSize</key>
                <string>{346,333}</string>
            </dict>
            <key>zombieMoving70.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1613},{328,291}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{328,291}}</string>
                <key>sourceSize</key>
                <string>{346,333}</string>
            </dict>
            <key>zombieMoving80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{306,298}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{306,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombies-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b405fc5d5d49bb05873f9501de8fb4c2$</string>
            <key>textureFileName</key>
            <string>zombies-hd.png</string>
        </dict>
    </dict>
</plist>
