<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeGate00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,34}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{93,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>closeGate01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,38},{71,34}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{71,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>closeGate02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{75,34}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{75,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>gate00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,34}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{93,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>openGate00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{75,34}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{75,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>openGate01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,38},{71,34}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{71,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>openGate02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,34}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{93,34}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2133de6c24c64c58a89c6858b188c2f3$</string>
            <key>textureFileName</key>
            <string>gate-hd.png</string>
        </dict>
    </dict>
</plist>
