<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopIcoBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,314},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoMoney0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,157},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoMoney1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoRandom.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoResurrection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>shopIcoTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopIcons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95fc0642789682c9a2b27edfe18767b6$</string>
            <key>textureFileName</key>
            <string>shopIcons.png</string>
        </dict>
    </dict>
</plist>
