<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evilDoctorStand</key>
	<dict>
		<key>frames</key>
		<string>0</string>
		<key>delay</key>
		<integer>0</integer>
	</dict>
	<key>evilDoctorEyes</key>
	<dict>
		<key>frames</key>
		<string>0,0,0,1,2,3,3,3,2,1,0,0,0,1,2,3,3,3,2,1</string>
		<key>delay</key>
		<real>0.12</real>
	</dict>
	<key>evilDoctorLaugh</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,7,8,7,6,7,8,7,6,7,8</string>
		<key>delay</key>
		<real>0.08</real>
	</dict>
	<key>evilDoctorSwitch</key>
	<dict>
		<key>frames</key>
		<string>0,1,2,3,4,5,6,5,4,3,2,1,0</string>
		<key>delay</key>
		<real>0.08</real>
	</dict>
</dict>
</plist>
