<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evilDoctorBecomesHuman0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1169},{307,393}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{307,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1169},{307,393}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{307,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1564},{317,393}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{317,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{361,393}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{361,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1169},{385,393}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{385,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman5.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,780},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman7.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,391},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesHuman9.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evilDoctorGhost1-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fbe7ccd689fd98542cef51b6d22f3b4$</string>
            <key>textureFileName</key>
            <string>evilDoctorGhost1-hd.png</string>
        </dict>
    </dict>
</plist>
