<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evilDoctorEyes0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorEyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorEyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorEyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,392},{193,195}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{193,195}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,589},{193,193}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{193,193}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,392},{193,195}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{193,195}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorLaugh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorStand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,794},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,595},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,396},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,197},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch5.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>evilDoctorSwitch6.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{193,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evilDoctor.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba3aaef368d94b83fd43a44cb2e851a$</string>
            <key>textureFileName</key>
            <string>evilDoctor.png</string>
        </dict>
    </dict>
</plist>
