<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evilDoctorBecomesHuman0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,590},{154,197}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{154,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,590},{154,197}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{154,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,789},{160,197}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{160,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{182,197}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{182,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,394},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,198},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesHuman9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evilDoctorGhost1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872a12cf05cff8bffe88a4c60e2b4591$</string>
            <key>textureFileName</key>
            <string>evilDoctorGhost1.png</string>
        </dict>
    </dict>
</plist>
