<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evilDoctorAfterGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{387,399}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{387,397}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{387,397}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{387,397}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{387,397}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1576},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorAfterGhost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1181},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,786},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,391},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,760},{307,393}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{307,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{387,393}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{387,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,391},{379,393}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{379,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,391},{367,393}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{367,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,391},{367,393}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{367,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost8.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,772},{361,393}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{361,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorBecomesGhost9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,760},{361,393}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{361,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
            <key>evilDoctorGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,760},{307,393}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{307,393}}</string>
                <key>sourceSize</key>
                <string>{395,401}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evilDoctorGhost-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cdc78f1c36277daa8bd27950be3b32$</string>
            <key>textureFileName</key>
            <string>evilDoctorGhost-hd.png</string>
        </dict>
    </dict>
</plist>
