<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evilDoctorAfterGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,199}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,199}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorAfterGhost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,795},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,596},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,384},{154,197}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{154,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,397},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,198},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{194,197}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,198},{190,197}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{190,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,198},{184,197}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{184,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,198},{184,197}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{184,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,390},{182,197}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{182,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorBecomesGhost9.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,384},{182,197}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{182,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>evilDoctorGhost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,384},{154,197}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{154,197}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evilDoctorGhost.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c77bf4a5311b895878980722ec0798$</string>
            <key>textureFileName</key>
            <string>evilDoctorGhost.png</string>
        </dict>
    </dict>
</plist>
